@page "/authors/create"
@inject IAuthorService service
@inject NavigationManager manager

<PageTitle>PWA - Create author</PageTitle>

<h3>Create author</h3>

@if (author is not null)
{
    <AuthorForm author="author" OnValidSubmit="HandleSubmit" />
} else
{
    <p>How</p>
}

@code {
    private Author author = new Author();

    public async Task HandleSubmit()
    {
        await service.CreateAuthorAsync(author);

        manager.NavigateTo("/authors");
    }
}
